.project-name a {
    color: #fff;
    text-decoration: none;
}

.page-header {
    padding: 2rem 3rem;
}


/* Breadcrumb */
.breadcrumb {
    list-style: none;
    overflow: hidden;
    padding: 0;
}
.breadcrumb li {
    float: left;
}
.breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 3px 0 3px 55px;
    background: brown;                   /* fallback color */
    background: hsla(206,75%,33%,1);
    position: relative;
    display: block;
    float: left;
}
.breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsl(206, 75%, 33%);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}
.breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}
.breadcrumb li:first-child a {
    padding-left: 10px;
}
.breadcrumb li:nth-child(2) a       { background:        hsla(190,72%,29%,1); }
.breadcrumb li:nth-child(2) a:after { border-left-color: hsla(190,72%,29%,1); }
.breadcrumb li:nth-child(3) a       { background:        hsla(168,72%,29%,1); }
.breadcrumb li:nth-child(3) a:after { border-left-color: hsla(168,72%,29%,1); }
.breadcrumb li:nth-child(4) a       { background:        hsla(156,74%,32%,1); }
.breadcrumb li:nth-child(4) a:after { border-left-color: hsla(156,74%,32%,1); }
.breadcrumb li:nth-child(5) a       { background:        hsla(156,74%,32%,1); }
.breadcrumb li:nth-child(5) a:after { border-left-color: hsla(156,74%,32%,1); }

.breadcrumb li:last-child a {
    background: #ececec !important;
    color: black;
    pointer-events: none;
    cursor: default;
}

.breadcrumb li:last-child a:after { border-left-color: #ececec; }
.breadcrumb li a:hover { background: hsla(206,85%,25%,1); }
.breadcrumb li a:hover:after { border-left-color: hsla(206,85%,25%,1) !important; }


/* Tabs */
.nav-tabs {
    border-bottom: 1px solid #ddd;
}

.nav {
    padding-left: 0;
    list-style: none;
}

.nav:before {
    display: table;
    content: " ";
}

.nav:after {
    clear: both;
    display: table;
    content: " ";
}

.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
    position: relative;
    display: block;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}


.tags-list {
    list-style: none;
    overflow: hidden;
    padding: 0;
}

.tags-list li {
    float: left;
    margin: auto 1em 1em 1em;
}

.tags-list li:hover {
    background-color: #ececec;
    border-radius: 0.3rem;
    transition: background-color 0.2s;
}

.tags-list li a:hover {
    text-decoration: none;
    color: #159957;
    transition: color 0.2s
}

.tags-list li p {
    text-align: center;
    margin: 0.5em 0;
}

.title-post, .title-post-with-forma{
    margin: 2em 0;
}

.title-post :first-child, .title-post-with-forma :first-child {
    margin: 0.3em 1em 0.3em 0;
}

.title-post-with-forma :first-child {
    float: left;
}

/* Responsive */
@media only screen and (max-width: 50em) {
    .breadcrumb li:last-child {
        display: none;
    }

    .title-post-with-forma :first-child {
        float: none;
    }
}

@media only screen and (max-width: 35em) {

    body {
        line-height: 2;
    }

    .breadcrumb li {
        display: none;
    }

    .breadcrumb li:nth-last-child(2) {
        display: block;
    }

    .breadcrumb li:nth-last-child(2) a {
        padding-left: 10px;
    }
}
