---
layout: default
---

{% capture tags %}
    {% for post in site.categories[page.category] %}
        {{ post.tag }}
    {% endfor %}
{% endcapture %}
{% assign sortedtags = tags | to_array_uniq %}

{% include breadcrumb.html %}

<h2>{{ page.title }}</h2>
<ul class="tags-list">
{% for tag in sortedtags %}
    <li>
        <a href="{{ site.baseurl }}/tag/{{ tag }}" title="{{ tag | replace: '-',' ' | capitalize }}">
            <img src="{{ tag |  append: '_logo.png' | asset_path }}" alt="{{ tag }} logo" />
            <p>{{ tag | replace: '-',' ' | capitalize }}</p>
        </a>
    </li>
{% endfor  %}
</ul>
